* {
    color:white;
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin:0;
    background-color: black;
    display: flex;
}
/*here starts the first column*/
header {
    width:25vw;
    height:100vh;
    position: sticky;
    top:0;
}

nav {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    font-size:20px;
    height:70vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

li img {
    width:40px;
    height:40px;
}

div img {
    width:4vw;
    height:4vh;
}

button {
    background-color: white;
    color:black;
    border:none;
    border-radius: 20%;
    height:100%;
    width:150%;
    font-size: 20px;

}

.profile {
    margin-bottom:5vh;
    display:flex;
    justify-content: space-evenly;
}

/*here starts the center column*/

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right:1px solid grey;
    border-left:1px solid grey;
}

main>* {
    border-bottom:1px solid grey;
    width: 100%;
}

.fürDich {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7%;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: black;
    opacity: 90%;
}

.posten {
    display:flex;
    height: 20%;
}


.neues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-left: 2vw;
}

#Eingabe {
    background-color: black;
    border:none;
    width:100%;
    height:50%;
    font-weight:bold;
    font-size:1.5em;
}

input#Eingabe {
    box-sizing: border-box;
    padding-bottom:6vh;
  
}

.icons {
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    height:30%;
}

.icons div {
    color:rgb(69, 177, 232);
}

.smallButton {
    align-self:flex-end;
    margin-bottom: 2%;
    margin-right:2%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.smallButton>button {
    background-color: grey;
    width: 30%;
}

.anzeigen {
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anzeigen p {
    color:rgb(69, 177, 232);
}

.n {
    height:60vh;
}

/* footer/right column */

footer {
    width:25%;
    display:flex;
    flex-direction:column;
}

footer>div {
    background-color: black;
    border:1px solid grey;
    border-radius:8px;
    margin:5% 5% 5vh 5%;
}

.search {
    position: sticky;
    top: 2vh;
    width: 80%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    background-color:black;
}

input#search {
    background-color: black;
    border:none;
    width: 90%;
    height:90%;
}

.premium {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.premium p,.wemFolgen>div, .neues>div, .wemFolgen p {
    padding-left: 6%;
}

.abo {
    width:40%;
    background-color: rgb(69, 177, 232);
    color:white;
    font-size:100%;
    font-weight: bold;
    margin-left:6%;
    margin-bottom: 6%;
}
 .mehr {
    color:rgb(69, 177, 232);
 }

 .wemFolgen {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .wemFolgen>p:first-child {
    font-weight: bold;
 }

 .wf {
    display: flex;
    justify-content: space-between;
 }

 .bu {
    width:20%;
    margin-right:6%;
 }

 .bu>button {
    width:100%;
 }

 .neues>p {
    font-weight:bold;
 }

 .neues {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
 }

 .neues>div {
    padding-bottom:6%;
 }

 .neues>p {
    padding-left:6%;
 }