* {
    color:white;
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin:0;
    background-color: black;
    display: flex;
}
/*here starts the first column*/
header {
    width:25vw;
    height:100vh;
    position: sticky;
    top:0;
}

nav {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul {
    font-size:20px;
    height:70vh;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

li img {
    width:40px;
    height:40px;
}

div img {
    width:4vw;
    height:4vh;
}

button {
    background-color: white;
    color:black;
    border:none;
    border-radius: 20%;
    height:100%;
    width:150%;
    font-size: 20px;

}

.profile {
    margin-bottom:5vh;
    display:flex;
    justify-content: space-evenly;
}

/*here starts the center column*/

main {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right:1px solid grey;
    border-left:1px solid grey;
}

main>* {
    border-bottom:1px solid grey;
    width: 100%;
}

.fürDich {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7%;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: black;
    opacity: 90%;
}

.posten {
    display:flex;
    height: 20%;
}


.neues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:45%;
    margin-left: 2vw;
}

#Eingabe {
    background-color: black;
    border:none;
    width:100%;
    height:50%;
    font-weight:bold;
    font-size:1.5em;
}

input#Eingabe {
    box-sizing: border-box;
    padding-bottom:6vh;
  
}

.icons {
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    height:30%;
}

.icons div {
    color:rgb(69, 177, 232);
}

.smallButton {
    align-self:flex-end;
    margin-bottom: 2%;
}

.smallButton>button {
    background-color: grey;
    width: 100%;
}